<%= simple_form_for @book do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% book.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form">

    <div class="field">
      <h3>Titre</h3>
      <%= form.text_field :title, placeholder: "Entre le titre du livre" %>
    </div>

    <div class="field">
      <h3>Auteur.ice</h3>
      <%= form.text_field :author, placeholder: "Entre l'auteur du livre" %>
    </div>

    <div class="field">
      <h3>Genre(s)</h3>
      <%= form.text_field :genre, placeholder: 'Entre le(s) genre(s) littéraire(s) du livre' %>
    </div>

    <div class="field">
      <h3>Résumé</h3>
      <%= form.text_area :resume, class: 'form-control', placeholder: 'Entre le résumé du livre' %>
    </div>

    <div class="field">
      <h3>Couverture</h3>
      <%= form.text_area :cover, class: 'form-control', placeholder: 'Insère une url de la couverture' %>
    </div>

  </div>

  <%= form.button :submit, class: 'btn btn-outline-light', style: 'color: #CD9777; border: 3px solid #CD9777;
  font-family: Inter, sans-serif; font-weight: 500; font-size: 24px;' %>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <%= link_to "Retour", books_path, class: 'btn btn-outline-light', style: 'color: #CD9777; border: 3px solid #CD9777;
  font-family: Inter, sans-serif; font-weight: 500; font-size: 24px;'%>

<% end %>
