<p id="notice"><%= notice %></p>

<div class=image>
<%= image_tag 'couronne.png' %>
</div>

<div class=firstdiv>
  <h1>L'Apollothèque</h1>
  <h2>Ta nouvelle bibliothèque en ligne</h2>
</div>

<h3>Nos livres</h3>

  <div class="tableau_index">
    <% @books.each do |book| %>
      <div class="iteration_index">
          <%= link_to book do%>
            <img src="<%=book.cover%>" class="image_index">
            <p><%= book.title %></p>
          <% end %>
      </div>
    <% end %>
  </div>

<br>
