<p id="notice"><%= notice %></p>

<div class=image>
<%= image_tag 'couronne.png' %>
</div>

<div class="firstdiv">

  <h1>
    <strong>Title:</strong>
    <%= @book.title %>
  </h1>

  <h2>
    <strong>Author:</strong>
    <%= @book.author %>
  </h2>
</div>

<div class="contentShow">

  <div class="part1show">
    <h3>
      <strong>Genre:</strong>
    </h3>
    <p>
      <%= @book.genre %>
    </p>


    <h3>
      <strong>Resume:</strong>
    </h3>
    <p>
      <%= simple_format @book.resume %>
    </p>

  </div>

  <div class="part2show">
    <img src="<%=@book.cover%>" class="image_index">
  </div>
</div>


<div class="buttonShow">
  <%= link_to 'Modifier', edit_book_path(@book), class: 'btn btn-outline-light' %>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <%= link_to "Retour", books_path, class: 'btn btn-outline-light'%>
</div>
