<!DOCTYPE html>
<html>
  <head>
    <title>Apollotheque</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="http://fonts.cdnfonts.com/css/gotham" rel="stylesheet">

  </head>

  <header class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <%= image_tag 'logotheque.png' %>
      </a>

      <span class="navbar-text" style="color: #fcf6f8">
        <%= link_to "Ajouter un livre", new_book_path %>
      </span>
    </div>
  </header>

  <body>
    <%= yield %>
  </body>
</html>

    <!-- <div>
      <%= image_tag 'logotheque.png' %>
          <%= link_to 'Ajouter un livre', new_book_path%> style="color: #fcf6f8"
    </div>

    <div>
      <%= link_to 'New Book', new_book_path %>
    </div> -->
